.main {
  background-color: $color-grey;
  width: 100%;
}
// .instruction {
//   background-color: #fff;
// }

.section-house {
  margin-top: 5rem;
}
.section-light {
  margin: 0 auto;
  padding: 10rem 5rem;
}
