.feature-box {
  background-color: $color-white;
  padding: 2rem 2rem;
  border-radius: 8px;

  border: 3px solid $color-orange-medium;
  box-shadow: 0 1rem 4rem rgba($color-black, 0.2);
  &__list {
    list-style-type: none;
  }
  &__item {
    font-size: 1.5rem;
    border-bottom: 1px solid $color-orange-medium;
    margin-bottom: 2rem;
  }
  // &__item:not(:last-child) {
  //   margin-bottom: 3rem;
  // }
}
.feature-box3 {
  background-image: url("/image/lock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 80%;
  filter: brightness(0.8);
}
.feature-box3:hover {
  cursor: not-allowed;
}