.heading-primary {
  text-decoration: none;
  background-image: linear-gradient(to right, $color-orange-light, $color-orange-dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
}
.heading-tertiary {
  color: $color-orange-light;
  font-size: 2rem;
}
