$color-white : #fff ;
$color-black: #000;
$color-grey: #a9b1b9;
$color-orange-dark : #e04d18;
$color-orange-medium: #f15517;
$color-orange-light : #f7865a;

// variable width height 
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;